.nav2:hover{
    color: rgb(14, 219, 154);
}
.nav2:active{
    color: rgb(228, 255, 19) !important;
}
.navSticky{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100% ;
    max-width:1280px ;
    background-color: rgb(251, 66, 29);
}