.nav2:hover{
    color: rgb(246, 246, 246);
}
.nav2:active{
    color: whitesmoke !important;
}
.navSticky{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100% ;
    max-width:1280px ;
    background-color: rgb(251, 66, 29);
}